
/*----------------------------------------------COLOR--------------------------------------*/
:root{
    --darkgray: #212329;
    --darkgrayTransparent: #21232961;
    --brightred: #F9423D;
    --white: #fff;
    --lightred: #f9433dcc;
    --lightyellow:  #f4a235;
    --lightdark: rgba(19, 18, 18, 0.664);
    --deepdark:#000;
	--ligthtransparent: rgba(0, 0, 0, 0.107);
  }
/*----------------------------------------------END COLOR--------------------------------------*/

/*----------------------------------------------RESET------------------------------------------*/
 body{
   overflow-x: hidden;
 }

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*{scroll-behavior: smooth}

/*----------------------------------------------END RESET------------------------------------------*/

.bg-image {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	/* width: 100vw; */
	height: 100vh;
	background-color: var(--ligthtransparent);
	background-image:url("3_big.jpg");
	background-size: cover;
}

.nav-container{
	width: 100%;
}

.nav li a {
    color: var(--white)!important;
    text-decoration: none!important;
	text-transform: uppercase;
	line-height: 60px;
}

.nav {
	display: flex;
	flex-wrap: wrap;
	background-color: var(--ligthtransparent) ;
	padding-left: 0;
	padding-right: 50px;
	margin-bottom: 0;
	list-style: none;
}


.main-container{
	width: 100%;
	height: auto;
	background-image:url("background.jpg");
	background-size: cover;
}

.bandCover{
	width: 100%;
}

.gradientCover{
	max-width: 100vw;
    height: 100%;
    width: 100%;
	background: linear-gradient(to right, #000000 100%, #000000 100%);
	/* opacity: 0.2; */

}

/* .bandimg{
	width: 100%;
	margin: auto;
	/* height: 100vh;
	background:url("3_big.jpg") center center no-repeat;
	background-size: cover;
} */


#nav {
    position: fixed;
    top: 0;
    transition: top 0.4s;
    z-index: 9999;
}

.navbar {
    display: grid;
    grid-template-columns: 0.2fr auto 1fr;
    align-items: center;
    justify-self: center;
    height: 80px;
    width: 100vw;
    max-width: auto;
    margin: 0 auto;
}

#navbar-logo {
    justify-self: start;
    margin-left: 20px;
    width: 240px;
    margin-bottom: 10px;
    cursor: pointer;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-out;
    background: var(--white);
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    list-style: none;
    text-align: center;
    justify-self: flex-end;
    grid-gap: 30px;
}

.nav-link {
    font-family: 'Covered By Your Grace', cursive;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-shadow: 2px 2px 2px rgb(0 0 0);
}

/* .home{
	display: block;
	margin: auto;
} */

.img{
	width: 100%;
	height: auto;
}

.release{
	border-top: 2px solid var(--white);
	width: 100%;
	height: auto;
	text-align: center;

}

h1{
	font-family: 'Covered By Your Grace', cursive;
	font-weight: 400;
    text-transform: none;
    font-size: 80px!important;
    letter-spacing: 0;
	color: white;
	text-align: center;

}

.container{
 	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

}

.cover{
	width: 400px;
	height: 400px;
}

.card{
	margin: 15px;
}

.content{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
}

h2{
	font-family: 'Covered By Your Grace', cursive;
	font-weight: 400;
	font-size: 20px;
}
/* a{
	text-decoration: none;
	border: 1px solid white;
	color: white;
	padding: 5px 40px;
} */

.content{
	background-color: rgba(76, 75, 75, 0.413);
	width: 50%;
	margin: auto;
}
.content p{

	color:#ffffff;
}